### Starter code for Project 4. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [2]:
!bq --location=US mk --dataset $dataset_id

BigQuery error in mk operation: Dataset 'apt-subset-397505:school_enrollments'
already exists.

#### 2. create and populate BQ tables:

In [3]:
import os

In [4]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access/stanford-school-enrollment/*"
file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ak.csv

Waiting on bqjob_r1846820272e56b68_0000018adc625955_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ar.csv

Waiting on bqjob_r715c08f2b6070772_0000018adc626dd4_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.az gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_az.csv

Waiting on bqjob_r14395ca73203efed_0000018adc628691_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ca.csv

Waiting on bqjob_r69ee64aa5b3acc45_0000018adc62a355_1 ... (10s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ct.csv

Waiting on bqjob_r579fb00254a4d99a_0000018adc62d57e_1 ... (3s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_hi.csv

Waiting on bqjob_r4db092ff2271952f_0000018adc62edbd_1 ... (2s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.in gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_in.csv

Waiting on bqjob_r2f47c0e42065744b_0000018adc630227_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_la.csv

Waiting on bqjob_r4638bcca998e29d9_0000018adc631b52_1 ... (5s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_md.csv

Waiting on bqjob_r443e9de8d55e55a7_0000018adc633c7b_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_mn.csv

Waiting on bqjob_r4d9c5bea68fdcef_0000018adc63506d_1 ... (4s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ms.csv

Waiting on bqjob_r17136f44a1748330_0000018adc636d32_1 ... (2s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nh.csv

Waiting on bqjob_r2d3314473bb4577e_0000018adc638113_1 ... (1s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nj gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nj.csv

Waiting on bqjob_r6d711a3e1eb8058d_0000018adc6390fe_1 ... (1s) Current status: DONE

BigQuery error in load operation: Error processing job 'apt-
subset-397505:bqjob_r6d711a3e1eb8058d_0000018adc6390fe_1': Error while reading
data, error message: Could not parse 'N' as INT64 for field
ccd_district_high_grade (position 12) starting at location 2800632  with message
'Unable to parse' File: gs://cs327e-open-access/stanford-school-
enrollment/zf406jp4427_nj.csv
Failure details:
- Error while reading data, error message: CSV processing encountered
too many errors, giving up. Rows: 12208; errors: 1; max bad: 0;
error percent: 0
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nm gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nm.csv

Waiting on bqjob_r7d14f8b51652d6e8_0000018adc63a13b_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nv.csv

Waiting on bqjob_r6539cec7799fcbde_0000018adc63b516_1 ... (2s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ok.csv

Waiting on bqjob_r8fd1710185101a4_0000018adc63c8b8_1 ... (3s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_pa.csv

Waiting on bqjob_r7023aacabc113dbb_0000018adc63e129_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_sc.csv

Waiting on bqjob_r5cef8ad4d3245861_0000018adc63fd97_1 ... (2s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_tx.csv

Waiting on bqjob_r793f3ce8b94e0a06_0000018adc6412d9_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ut gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ut.csv

Waiting on bqjob_r68d1aff4f82fde66_0000018adc642b6c_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wa.csv

Waiting on bqjob_r371bc1e80ae4f12a_0000018adc643f0e_1 ... (4s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wy.csv

Waiting on bqjob_r5c76ec94a41847e_0000018adc645c12_1 ... (1s) Current status: DONE

#### 3. Find school enrollments by school name, grade level, and year for Texas

In [5]:
!bq show --schema=true $dataset_id.tx

[{"name":"state","type":"STRING","mode":"NULLABLE"},{"name":"county","type":"STRING","mode":"NULLABLE"},{"name":"county_state_id","type":"STRING","mode":"NULLABLE"},{"name":"admin_level","type":"STRING","mode":"NULLABLE"},{"name":"district_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_type","type":"STRING","mode":"NULLABLE"},{"name":"district","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"school_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"school_state_id","type":"FLOAT","mode":"NULLABLE"},{"name":"school","type":"STRING","mode":"NULLABLE"},{"name":"school_state_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter_school","type":"BOOLEAN","mode":"NULLABLE"},{"name":"ccd_school_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"year","type":"INTEGER","mode":"NULLABLE"},{"name":"term","type":"STRING","mode":"NULLABLE"},{"name":"grade","type":"STRING","mode":"NULLABLE"},{"name":"white","type":"STRING","mode":"NULLABLE"},{"name":"black","type":"STRING","mode":"NULLABLE"},{"name":"hispanic","type":"STRING","mode":"NULLABLE"},{"name":"native_american","type":"STRING","mode":"NULLABLE"},{"name":"native_american_alaskan_native","type":"STRING","mode":"NULLABLE"},{"name":"asian","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian","type":"STRING","mode":"NULLABLE"},{"name":"asian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"multiracial","type":"STRING","mode":"NULLABLE"},{"name":"unknown_race","type":"STRING","mode":"NULLABLE"},{"name":"male","type":"STRING","mode":"NULLABLE"},{"name":"female","type":"STRING","mode":"NULLABLE"},{"name":"non_binary","type":"STRING","mode":"NULLABLE"},{"name":"unknown_gender","type":"STRING","mode":"NULLABLE"},{"name":"ell","type":"STRING","mode":"NULLABLE"},{"name":"ell_percent","type":"STRING","mode":"NULLABLE"},{"name":"homeless","type":"STRING","mode":"NULLABLE"},{"name":"homeless_percent","type":"STRING","mode":"NULLABLE"},{"name":"low_income","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced_percent","type":"STRING","mode":"NULLABLE"},{"name":"disability","type":"STRING","mode":"NULLABLE"},{"name":"section_504","type":"STRING","mode":"NULLABLE"},{"name":"total","type":"STRING","mode":"NULLABLE"}]

#### Note: STRING type for "total" column

In [6]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

##### Documentation on BQ's string functions: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

In [7]:
!bq --location=US mk --dataset "views"

Dataset 'apt-subset-397505:views' successfully created.

In [8]:
%%bigquery
create view views.austin_enrollments_by_school_grade_year as
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [9]:
%%bigquery
select * from views.austin_enrollments_by_school_grade_year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

#### 4. Open Looker Studio and create a chart from this view:
##### https://lookerstudio.google.com/

#### Project 4 homework marker. Start homework from here.

#### 1. Find average number of students in each grade (exclude before first grade) in Austin

In [52]:
%%bigquery
SELECT grade, avg(cast(replace(replace(total, ",", ""), "<", "") as int64)) as average
FROM school_enrollments.tx
WHERE total != "" and school != "" and district like '%AUSTIN%'
GROUP BY grade
HAVING grade like '%grade%'
ORDER BY average DESC

Query is running:   0%|          |

Downloading:   0%|          |

       grade     average
0    grade_9  226.175439
1    grade_7  214.035088
2   grade_10  210.631579
3   grade_12  208.411765
4   grade_11  200.037037
5    grade_8  196.387097
6    grade_6  192.000000
7    grade_1   74.365169
8    grade_2   73.230337
9    grade_3   72.466292
10   grade_4   72.293785
11   grade_5   72.290503

#### 2. Find the 10 largest independent school districts in Texas by the total number students

In [5]:
%%bigquery
SELECT district, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total_students 
FROM school_enrollments.tx
WHERE total != "" and school != ""
GROUP BY district
HAVING district like '%ISD%'
ORDER BY total_students DESC
LIMIT 10

Query is running:   0%|          |

Downloading:   0%|          |

                district  total_students
0            HOUSTON ISD          409877
1             DALLAS ISD          300262
2  CYPRESS-FAIRBANKS ISD          232880
3          NORTHSIDE ISD          212379
4               KATY ISD          167925
5         FORT WORTH ISD          162013
6             AUSTIN ISD          157608
7          FORT BEND ISD          155246
8             ALDINE ISD          130709
9             CONROE ISD          130047

#### 3. Find the districts in Texas who had more student in 2021 than in 2020

In [76]:
%%bigquery
SELECT t1.district, (t2.total_students - t1.total_students) as students_gained
FROM (SELECT district, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total_students 
      FROM school_enrollments.tx 
      WHERE total != "" 
      GROUP BY district, year) t1
JOIN (SELECT district, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total_students 
      FROM school_enrollments.tx 
      WHERE total != "" 
      GROUP BY district, year) t2
ON t1.district = t2.district
WHERE t1.year = 2020 and t2.year = 2021 and t1.total_students < t2.total_students
ORDER BY students_gained desc
LIMIT 10

Query is running:   0%|          |

Downloading:   0%|          |

                             district  students_gained
0                 IDEA PUBLIC SCHOOLS            25356
1                      HALLSVILLE ISD             7610
2  TEXAS COLLEGE PREPARATORY ACADEMIE             5288
3           KIPP TEXAS PUBLIC SCHOOLS             5056
4                         PROSPER ISD             4559
5                  GREAT HEARTS TEXAS             3584
6                      HUNTSVILLE ISD             3378
7   INTERNATIONAL LEADERSHIP OF TEXAS             2988
8  SCHOOL OF SCIENCE AND TECHNOLOGY D             2924
9                    UPLIFT EDUCATION             2906

#### 4. Find classes in Texas within the same district that had the same number of students in 2020

In [77]:
%%bigquery
SELECT t1.district, t1.grade, t2.grade, t1.total_students
FROM (SELECT district, grade, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total_students 
      FROM school_enrollments.tx 
      WHERE total != "" and year = 2020
      GROUP BY district, grade) t1
JOIN (SELECT district, grade, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total_students 
      FROM school_enrollments.tx 
      WHERE total != "" and year = 2020
      GROUP BY district, grade) t2
ON t1.district = t2.district
WHERE t1.grade < t2.grade and t1.total_students = t2.total_students
ORDER BY t1.total_students desc
LIMIT 10

Query is running:   0%|          |

Downloading:   0%|          |

            district     grade       grade_1  total_students
0  SPRING BRANCH ISD   grade_5       grade_8            5186
1          ALLEN ISD  grade_10      grade_11            3498
2         LAREDO ISD   grade_2       grade_3            3408
3         LAREDO ISD  grade_12       grade_6            3077
4        PROSPER ISD   grade_3       grade_6            2882
5          TYLER ISD   grade_2       grade_3            2710
6     HARLINGEN CISD   grade_3       grade_7            2630
7       ROCKWALL ISD   grade_2  kindergarten            2274
8           WACO ISD   grade_2       grade_3            2240
9           WACO ISD   grade_5       grade_6            2170

#### 5. Find the school districts in California with the highest male to female ratio

In [57]:
%%bigquery
SELECT district, (sum(male) / sum(female)) as male_female_ratio
FROM school_enrollments.ca
GROUP BY district
HAVING male_female_ratio > 0
ORDER BY male_female_ratio DESC
LIMIT 10

Query is running:   0%|          |

Downloading:   0%|          |

                                            district  male_female_ratio
0  California Education Authority (CEA) Headquarters          23.416667
1                  Colusa County Office of Education           4.222222
2                  Plumas County Office of Education           3.818182
3                   Modoc County Office of Education           3.083333
4               Mendocino County Office of Education           2.910256
5              San Benito County Office of Education           2.892857
6                  Sutter County Office of Education           2.857143
7                                   Seiad Elementary           2.800000
8                    Napa County Office of Education           2.730435
9                         Indian Diggings Elementary           2.600000

#### 6. Find the schools in South Carolina that had the highest total student enrollment in 2020 and 2021

In [73]:
%%bigquery
SELECT school, year, sum(total) as total_students 
FROM school_enrollments.sc
WHERE school != ""
GROUP BY year, school
HAVING year = 2020 or year = 2021
ORDER BY total_students DESC

Query is running:   0%|          |

Downloading:   0%|          |

                              school  year  total_students
0             SC Connections Academy  2021         12596.0
1             SC Connections Academy  2020         10482.0
2     South Carolina Virtual Charter  2021          9848.0
3                         Wando High  2020          7796.0
4                        Dorman High  2021          7178.0
...                              ...   ...             ...
2465                  Sara Babb High  2021            16.0
2466                     Broad River  2021            14.0
2467               Mullins ECC ANNEX  2020             8.0
2468                Tyger River High  2021             8.0
2469               Mullins ECC ANNEX  2021             4.0

[2470 rows x 3 columns]

#### 7. Find districts in Wyoming that have a majority of non-white students

In [82]:
%%bigquery
SELECT district, sum(total) as total_students , sum(white) as white_students, (sum(white)/sum(total)) as white_ratio
FROM school_enrollments.wy
GROUP BY district
ORDER BY total_students DESC
LIMIT 10

Query is running:   0%|          |

Downloading:   0%|          |

        district  total_students  white_students  white_ratio
0     Laramie #1         84303.0         39084.0     0.463613
1     Natrona #1         78252.0         41732.0     0.533303
2    Campbell #1         52191.0         29040.0     0.556418
3  Sweetwater #1         31860.0         10642.0     0.334024
4      Albany #1         23697.0         11578.0     0.488585
5    Sheridan #2         21294.0         12464.0     0.585329
6     Lincoln #2         17724.0         10992.0     0.620176
7       Teton #1         16854.0          5348.0     0.317313
8       Uinta #1         16227.0          8510.0     0.524435
9  Sweetwater #2         14709.0          5909.0     0.401727

#### 8. Find the public schools in Texas that have had the largest individual class

In [81]:
%%bigquery
SELECT district, max(cast(replace(replace(total, ",", ""), "<", "") as int64)) as max_students 
FROM school_enrollments.tx
WHERE total != "" and school != ""
GROUP BY district
HAVING district like "%PUBLIC%"
ORDER BY max_students DESC
LIMIT 10

Query is running:   0%|          |

Downloading:   0%|          |

                             district  max_students
0           KIPP TEXAS PUBLIC SCHOOLS           293
1       AUSTIN ACHIEVE PUBLIC SCHOOLS           214
2                 IDEA PUBLIC SCHOOLS           208
3         YES PREP PUBLIC SCHOOLS INC           183
4              PROMESA PUBLIC SCHOOLS           128
5     TEXAS LEADERSHIP PUBLIC SCHOOLS           116
6                VALOR PUBLIC SCHOOLS           110
7   HORIZON MONTESSORI PUBLIC SCHOOLS           103
8           THE VARNETT PUBLIC SCHOOL            80
9  TRIUMPH PUBLIC HIGH SCHOOLS-LAREDO            73