# **HW0 Exploratory Data Analysis (EDA) with Pandas**

### **TODO: *Write your fullname here***

**Important Note:** *During the Thursday's class, we will engage in a set of exercises using Pandas and the `flights.csv` dataset, which will equip you with the essential knowledge about how to use Pandas that you might need to fulfill this assignment.*

* In this homework, we will explore the `flights.csv` dataset that contains information about flight records from 2013. Using your (recently) acquired data analysis skills, the Pandas library, and the `flights.csv` dataset, implement the following questions in Python.

In [10]:
# import the libraries
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('flights.csv', index_col=False)

### **Question One:** (2 points) Select all rows where the carrier is 'UA' and the difference between departure time and scheduled departure time is more than 2 minutes.

In [12]:
df[(df['carrier'] == "UA") & ((df['dep_time'] - df['sched_dep_time']) > 2.0)]

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
26,26,2013,1,1,611.0,600,11.0,945.0,931,14.0,UA,303,N532UA,JFK,SFO,366.0,2586,6,0,1/1/2013 6:00
47,47,2013,1,1,644.0,636,8.0,931.0,940,-9.0,UA,1701,N75435,EWR,FLL,151.0,1065,6,36,1/1/2013 6:00
70,70,2013,1,1,709.0,700,9.0,852.0,832,20.0,UA,1092,N26226,LGA,ORD,135.0,733,7,0,1/1/2013 7:00
85,85,2013,1,1,732.0,645,47.0,1011.0,941,30.0,UA,1111,N37456,EWR,MCO,145.0,937,6,45,1/1/2013 6:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,2013,1,2,723.0,713,10.0,846.0,849,-3.0,UA,393,N529UA,EWR,ORD,114.0,719,7,13,2/1/2013 7:00
952,952,2013,1,2,727.0,645,42.0,1024.0,1028,-4.0,UA,277,N820UA,EWR,SNA,338.0,2434,6,45,2/1/2013 6:00
968,968,2013,1,2,739.0,735,4.0,1033.0,1031,2.0,UA,1296,N19117,EWR,MCO,144.0,937,7,35,2/1/2013 7:00
977,977,2013,1,2,750.0,725,25.0,1048.0,1020,28.0,UA,1724,N79521,EWR,PBI,151.0,1023,7,25,2/1/2013 7:00
981,981,2013,1,2,752.0,745,7.0,1055.0,1042,13.0,UA,251,N430UA,EWR,IAH,215.0,1400,7,45,2/1/2013 7:00


### **Question Two:** (2 points) How many unique airlines are there in the dataset?

In [13]:
len(df.groupby('carrier'))

14

There are 14 unique airlines in the dataset.

### **Question Three:** (3 points) Which carrier has the longest cumulative departure delay?

In [14]:
df.groupby('carrier')['dep_delay'].sum().sort_values(ascending = False)

carrier
EV    3947.0
B6    1893.0
MQ    1793.0
UA    1391.0
AA     799.0
9E     483.0
WN     138.0
HA      -3.0
AS     -11.0
F9     -16.0
VX     -16.0
FL     -44.0
US     -61.0
DL     -74.0
Name: dep_delay, dtype: float64

EV has the longest cumulative departure delay.

 ### **Question Four:** (3 points) Which carrier has the single longest departure delay?

In [15]:
df.pivot_table(values = "dep_delay", index = "carrier", aggfunc = "max").sort_values(by = "dep_delay", ascending = False)

         dep_delay
carrier
MQ           853.0
EV           379.0
AA           285.0
9E           255.0
B6           156.0
UA           144.0
DL           105.0
WN            34.0
US            15.0
FL             9.0
VX             3.0
AS            -1.0
F9            -2.0
HA            -3.0

MQ has the single longest departure delay.

# **TODO: When done, please submit your `ipynb` file on Canvas.**